#mapDiv
.list-content
  a.button.close role="button" X
  .title
    h4 大家最新鲜的状态：
  .inner
    ul.list-unstyled
      <li><a href="#">李丽</a>&nbsp;&nbsp;发表了状态：最近好忙哦...&nbsp;&nbsp;10分钟前</li>
      <li><a href="#">张强</a>&nbsp;&nbsp;想去 <a href="#">丽江</a>&nbsp;&nbsp;30分钟前</li>
      <li><a href="#">王敏</a>&nbsp;&nbsp;想去 <a href="#">丽江</a>&nbsp;&nbsp;2小时前</li>
      <li><a href="#">董二</a>&nbsp;&nbsp;想去 <a href="#">丽江</a>&nbsp;&nbsp;5小时前</li>
      <li><a href="#">陈化</a>&nbsp;&nbsp;想去 <a href="#">丽江</a>&nbsp;&nbsp;4月13日 15:07</li>
#pmdatadiv
#pm25-legend
  img src="http://www.kaiwenmap.cn/plugins/pm25/views/images/color.png" style="margin-top:3px;"
